/* Declaring Variables */
:root {
  --primary-col: #be3144;
  --secondary-col: #087E8B;
  --yellow: #559CAD;
  --comb-col: #BBB193;
  --off-white: #EDF5E1;
  --gray: #989186;
  --bgColor: #191919;
}
/* Smooth Scroll Effect for navbar Jump links */
html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}
/* --------------------- */
/* Border Styling        */
/* --------------------- */
/* css style to curve border */
.has-border {
  border: 10px solid black;
}
.curve-all-edges {
  border-radius: 1rem;
}
.curve-top-edge-only {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.curve-bottom-edge-only {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
body {
  /* Adding top padding 170px
    so that the body content and navbar content
    are displayed differently.*/
  padding-top: 0px;
  padding-top: 120px; 
  font-family: 'Spartan', 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  text-align: center;
  margin: 0px;
  /* Display Background */
  background: var(--bgColor);
  color: white;
  /* display all content in center*/
  margin: 0px auto;
  width: 70vw;
}
body h1 {
  font-size: 1.5rem;
}
/* --------------------- */
/* Styling for navbar    */
/* --------------------- */
/* Sticky navbar */
#navbar {
  background-color: var(--primary-col);
  color: var(--off-white);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  height: auto;

  /* Sticky NavBar */
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;

  /* So that svgs are always beneath navbar when scrolled */
  z-index:300;

  /* for nav bar to stick in center */
  width: 72%;
  margin-left: 14%;
}

/* nav-menu BrandName */
#brand-name {
  display: flex;
  float: left;
  margin-left: 30px;
  padding-left: 10px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-weight: 700;
  font-size: 1.8rem;
}
/* float menu right */
#nav-menu {
  display: flex;
  gap: 10px;
  float: right;
  padding-right: 40px;
}
/* List without bullets */
#nav-menu li {
  list-style-type: none;
}
/* Individual menu links */
#nav-menu a {
  color: var(--off-white);
  /* background: pink; */
  text-decoration: none;
  font-size: 1.3rem;
}
/* styling nav-links for hower effect */
#nav-menu a:hover {
  color: black;
  font-weight: 600;
}
/* styling nav-links for click effect */
#nav-menu a:active {
  color: black;
  /* font-weight: 600; */
}

/* --------------------- */
/* Styling for hero      */
/* --------------------- */
#hero {
  /* To Display the text content in center */
  display: flex;
  /* To display the items column-wise */
  flex-direction: column;
  width: auto;
  max-height: 100vh;
  width: 100%;
  /* To keep the content(specifically img) centered instead of going out of width of container*/
  align-items: center;
  overflow:hidden;
  margin-bottom: 50px;
}
#hero-img {
  height: auto;
  background-position: center;
  /* background-size: cover; */
  max-width: 40%;
}
.my-name {
  background: black;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  padding-left: 10px;
  padding-right: 20px; 
  margin-bottom: 20px;
  margin-top: 30px;
}
#web-dev {
  /* display:inline-block; */
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  border: 10px solid white;
  padding: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0px auto;
  height: auto;
  margin-bottom: 50px;
}
/* --------------------- */
/* skills section styling*/
/* --------------------- */
#all-skills-container {
  color: black;
  margin-left: auto;
  margin-right: auto;  
  padding: 10px 30px;
  margin-bottom: 50px;

 }
.section-label {
  font-size: 2rem;
  display: block;
  color: white;
  background: black;
  padding: 1rem;
  color: var(--off-white);
  max-width: 41vw;
  min-width: 40vw;
  margin: 0px auto;
}
#all-skills-container h4 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 20px;
  margin-top: 0px;
  margin-top: 10px;
}
#all-skills-container p {
  font-style: normal;
  font-weight: bold;
}
.skill-type {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  grid-gap: 25px;
}
.skill-card {
  background: var(--primary-col);
  background: #ABA59C;
  padding: 0px 1rem;
  width: 40vw;
  margin: 0px auto;
  padding-bottom: 1px;
}
.skill-icon {
  height: 100px;
}
/* --------------------- */
/* style for page-link   */
/* --------------------- */
.page-link-button {
  background-color: var(--yellow);
  text-decoration: none;
  color: black;
  font-weight:bold;
  line-height: 4rem;
  padding: 1rem;
}
/* --------------------- */
/* footer styling */
/* --------------------- */
#socials-container {
  background: black;
  height: auto;
  padding-top: 10px;
  margin-top: 50px;
}
#social-links {
  background: var(--primary-col);
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  flex-wrap: wrap;
  padding: 20px;
}
#social-links img {
  height: 50px;
}
#made-by {
  padding: 1rem 0px;
  font-size: 0.8rem;
  margin-bottom: 0px;
  margin-top: 0px;
}
/*            */
/* Dummy Blog */
/*            */
.dummy-blog {
  width: 100%
}

/* EDIT FROM HERE FOR PROJECTS SECTION*/
/*                         */
/* Project Buttons Styling */
/*                         */
.project-buttons-container {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding: 2px 10px;
}
.icon {
  color: black;
}
.project-button-link {
  font-weight: 600;
  background: var(--secondary-col);
  color: black;
  text-decoration: none;
  padding: 1rem;
}
.project-img {
  height: 200px;
  background-size: cover;
}

/* CSS Media Queries */
/* for responsive navbar */
/* @media (max-width:1070px)  */
@media
(max-width:820px)
{
  body {
    width: 90%;
    padding-top: 0px;
    padding-top: 180px;
  }
  /* navbar */
  #navbar { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }
  #brand-name {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 40px;
  }
  #nav-menu {
    margin-right: 0px;
  }
  /* hero */
  #hero {
    height:80vh;
  }
  #hero-img {
    height: auto;
    max-width: 50%;
  }
  .my-name {
    font-size: 1.2rem;
  }
  #web-dev {
    border: 5px solid white;
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 70vw;
    padding: 10px 20px;
  }
  .section-label {
    font-size: 1.4rem;
  }
  .skill-item p {
    padding: 0px;
  }
  .skill-icon {
    height: 50px;
  }
  .skill-card {
    width: 65vw;
    padding: 0px;
    margin: 0px auto;
  }
  .skill-card h4 {
    font-size: 1rem;
  }
  .project-button-link {
    font-size: 1rem;
    padding: 1rem;
  }
  .project-img {
    height: 100px;
    background-size: contain;
  }
  .page-link-button {
    font-weight:bold;
    padding: 5px;
  }
  #social-links img {
    height: 30px;
  }
}
